h1 {
    color: crimson;
}

div {
    background-color: rgb(199, 158, 219);
    margin: 10px;
    padding: 3px;
    border: 2px solid black;
}

h1 {
    background-color: bisque;
}

body {
    background-color: rgb(219, 215, 160);
}

.caixa {
    color: brown;
}

# ultima-caixa {
    background-color: aqua;
}

#ultim-caixa {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
/*COMENTARIOS*/

